<app-hero-galeria></app-hero-galeria>

<div class="galeria-layout__controles">
    <div class="galeria-layout__toolbar">

        <app-galeria-tabs [tabs]="tabs"></app-galeria-tabs>

        <app-barra-filtros [placeholder]="filtros.placeholder()" [opciones]="filtros.opciones()"
            [filtroActivo]="filtros.filtroActivo()" [valorBusqueda]="filtros.busqueda()"
            (busquedaChange)="filtros.setBusqueda($event)"
            (filtroChange)="filtros.setFiltro($event)"></app-barra-filtros>

    </div>
</div>

<router-outlet></router-outlet>

<div class="galeria-layout__cta">
    <app-fotos-itd [titulo]="contenido().fotos.titulo" [subtitulo]="contenido().fotos.subtitulo"
        [textoBoton]="contenido().fotos.textoBoton" (enviar)="onEnviarFotos()"></app-fotos-itd>
</div>

<app-historia [lineas]="contenido().historia.lineas"></app-historia>