<div class="secciones-layout__controles">
    <div class="secciones-layout__toolbar">

        <app-galeria-tabs [tabs]="tabs"></app-galeria-tabs>

        <app-barra-filtros [placeholder]="filtros.placeholder()" [opciones]="filtros.opciones()"
            [filtroActivo]="filtros.filtroActivo()" [valorBusqueda]="filtros.busqueda()"
            (busquedaChange)="filtros.setBusqueda($event)"
            (filtroChange)="filtros.setFiltro($event)"></app-barra-filtros>

    </div>
</div>

<router-outlet></router-outlet>